* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1;
  background: #f5f5f5;
  color: #4d4d4d;
  /* min-width: 230px; */
  /* max-width: 550px; */
  /* margin: 0 auto; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

.new-message,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  /* box-sizing: content-box; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-message {
  position: fixed;
  bottom: 16px;
  left: 0;
  padding: 16px 16px 16px 60px;
  border: none;
  background: white;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  z-index: 1;
}

.main {
  position: absolute;
  width: 100%;
  height: calc(100% - 92px);
  overflow: scroll;
  display: flex;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.message-list {
  margin: 0;
  list-style: none;
  display: flex;
  max-width: 550px;
  flex-direction: column;
  padding: 24px 8px;
  width: 100%;
  box-sizing: border-box;
}

.message-list li {
  position: relative;
  font-size: 24px;
  margin-bottom: 4px;
  border-bottom: 1px solid #ededed;
}

.message-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.message-list li .view {
  position: relative;
  display: flex;
  align-items: center;
}

.message-list li .timestamp {
  font-size: 12px;
  float: right;
}

.message-list li.editing {
  border-bottom: none;
  padding: 0;
}

.message-list li.editing .edit {
  display: block;
  margin: 0 0 0 25px;
}

.message-list li.editing .view label {
  display: none;
}

.message-list li .username {
  background: rgba(0, 0, 0, 0.04);
  padding: 18px;
  border-radius: 50%;
}

.message-list li label {
  position: relative;
  word-break: break-all;
  padding: 15px 25px 15px 15px;
  width: 100%;
  margin-left: 25px;
  background: #fff;
  transition: color 0.4s;
}

.message-list li label:before {
  content: '';
  border-style: solid;
  border-width: 5px 8.7px 5px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
}

.message-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
}

.message-list li .destroy:hover {
  color: #af5b5e;
}

.message-list li .destroy:after {
  content: '×';
}

.message-list li:hover .destroy {
  display: block;
}
.message-list li.editing .destroy {
  display: none;
}

.message-list li .edit {
  display: none;
}

.message-list li.editing:last-child {
  margin-bottom: -1px;
}

.message-count {
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  padding: 4px;
  z-index: 1;
}
